.tabs_list {
    @apply bg-teal-600/10 pt-6 relative border-teal-600;
    border-bottom-width: 4px;
    display: flex;
    z-index: 1;
    
}

.tabs_list :global(body) {
    --tabs-height: 160px;
}

.tabPanel {
    display:none;
    width: 100%;
}

.tabPanelActive {
    display:inline-block;
}

.-flex {
    display:inline-flex;
}

