.tabs_list {
    @apply bg-teal-600/10 pt-6 relative border-teal-600;
    border-bottom-width: 4px;
    display: flex;
    z-index: 1;
}

.tabButton {
    @apply rounded-b-none;
}

.tabItem .tabButton {
    @apply bg-teal-600/30 text-teal-700 hover:shadow-none;
}

.tabItem_active .tabButton {
    @apply bg-teal-600 hover:shadow-none;
}

.tabs_list :global(body) {
    --tabs-height: 160px;
}

