@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --header-height: 60px;
  --bar-width: 100%;
  --tabs-height: 0;

  @media (min-width: 600px) {
    --bar-width: 35%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app_view {
  width: 100%;
  height: 100%;
  transition: width 0.3s ease-out;
}

.pdf_view {
  background-color: #ccc;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* transition: width 0.3s ease-out; */
  position: fixed;
  top: 118px;
  z-index: 2;

  &.--hidden {
    width: 100%;

    >button {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.1s, visibility 0.1s 0s;
    }
  }

  >iframe {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  >button {
    position: fixed;
    top: 0;
    left: 30%;
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transition: opacity 0.3s 0.3s, visibility 0.4s 0s;
  }
}

.app-container {
  contain: layout;
  height: 100%;
  padding-top: var(--header-height);
}

[class*="-bar"] {
  @apply p-2 shadow-md;
  transform-origin: left top;
  width: var(--bar-width);
}

.app-bar {
  @apply py-4 bg-teal-500/50;
  height: 100%;
  overflow-y: auto;

  @media (min-width: 600px) {
    height: 100%;
  }

  &.-content {
    transition: height .5s ease-out;
    height: 45%;
    @media (min-width: 600px) {
      height: 100%;
    }
  }
}

.preview-bar {
  @apply p-4 bg-teal-700/50;
  width: 100%;
  height: 55%;

  @media (min-width: 600px) {
    height: 100%;
  }

  &.animationend {
    & div {
      opacity: 1;
    }
  }

  @media (min-width: 600px) {
    /* animation: .45s ease-out slideBar; */
    left: var(--bar-width);    
    width: calc(100% - var(--bar-width));
  }
}

.preview-bar__wrapper {
  height: 100%;
  @apply grid content-start bg-white/90 overflow-y-auto;

  @media (min-width: 600px) {
    aspect-ratio: 2/3;
    height: 80vh;
    margin: 0 auto;
    padding: 2rem 3rem;
    width: auto;
  }
  
}

@keyframes slideBar {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes fieldsetOpcity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}