@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --header-height: 80px;
  --bar-width: 35%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.app_view {
  width: 100%;
  height: 100%;
  transition: width 0.3s ease-out;
  &.--open{
    width: 70%;
  }
}

.pdf_view {
  width: 30%;
  height: 100%;
  overflow: hidden;  
  transition: width 0.3s ease-out;

  &.--hidden {
    width: 0;
    > button {
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.1s, visibility 0.1s 0s;
    }
  }

  > iframe {
    width: 100%;
    height: 100%;
    opacity: 1;
  }

  > button {
    position: fixed;
    top:0;
    left:30%;
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transition: opacity 0.3s 0.3s, visibility 0.4s 0s;
  }
}

.app-container {
  contain: layout;
  height: 100%;
}

[class*="-bar"] {
  @apply px-8 py-12 shadow-md;
  height: calc(100% - var(--header-height));
  position: fixed;
  top: var(--header-height);
  width: var(--bar-width);
  transform-origin: left top;
  & > fieldset, & > ul {
    opacity: 0;
    transition: .3s .1s opacity;
  }
  &.animationend {
    & fieldset, & > ul {
      opacity: 1;
    }
  }
}

.app-bar {
  @apply bg-teal-500/50;
  animation: .35s ease-out slideBar;
  left: 0;
}

.preview-bar {
  @apply bg-teal-700/50;
  animation: .45s ease-out slideBar;
  left: var(--bar-width);
  width: calc(100% - var(--bar-width));

  > div {
    opacity: 0;
    transition: .3s .1s opacity;
  }

  &.animationend {
    & div {
      opacity: 1;
    }
  }
}

@keyframes slideBar {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes fieldsetOpcity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}